
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,300&family=Poppins:wght@100;200;300&family=Raleway:wght@300&display=swap');



*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* banner css */

.banner{
    width:100%;
    height:110vh;
    background: url('./images/banner.jpg');
    display: flex;
    flex-direction: column;
   
}
.header
{
    width:100%;
    height:70px;
    /* background-color: red; */
    margin-top: 50px;
    padding:0px 15%;
    display: flex;
    justify-content: space-between;
}

.logo
{
    width:10%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    /* font-weight: 500; */
    
}
.logo-text
{
    width:80%;
    color:white;
    text-align: center;
    background-color: black;
}

.nav
{
    width:45%;
    /* background-color: blue; */
    height: 70px;
}

.nav-links
{
    width:100%;
    height:70px;
    /* background-color: yellow; */
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'poppins';
    
}
.nav-link
{
    padding: 5px 10px;
    transition: .3s;
}

.nav-link:hover
{
    background-color: black;
    color: white;
    cursor: pointer;

}

/* banner details css */
.banner-details
{
    width:100%;
    /* height: 50px; */
    /* background-color: white; */
    padding: 20px 15%;
    margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    color: white;
}

.badge
{
    width:max-content;
    padding: 10px 20px;
    background-color: lightgray;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    color:black
}

.banner-heading
{
    font-weight: bold;
    font-size:60px;
    font-family: 'poppins';
}

.btn
{
    padding: 18px 30px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: 1px solid black;
}
.booking
{
    width:100%;
    padding: 20px 10px;
    background-color: rgba(255,255,255,.5);
    color:black;
    display: flex;
    column-gap: 20px;
    /* color: rgba(255, 255, 255, .5 alpha); */
}
.inp
{
    width:20%;
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
    row-gap: 5px;
    justify-content: flex-end;
    
   
}

input{
    height: 40px;
    text-indent: 5px;
    font-size: 16px;
}

.book-btn
{
    padding:10px 30px;
    /* margin-top:25.5px; */
}
/* about css */

.about
{
    width:100%;
    padding: 50px 15%;
    background-color: white;
    font-family: 'poppins';
    font-size:20px;
    font-weight:200;
    word-spacing:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;

}
.highlight
{
    font-size: 30px;
    font-weight: bold;
}
.icon
{
    color: #05e8fc;
    font-size:40px;
}

/* rooms css */

.rooms
{
    width:100%;
    padding:50px 15%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins';
    
}
.title
{
    font-size: 30px;
}

.rooms-area
{
    width: 100%;
    padding: 20px 0px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap:50px;
}

.room
{
    width:30%;
    /* height: 500px; */
    background-color: white;
}
.room-img
{
    /* height:50px; */
    width:100%;
    
}
.room-image
{
    width:100%;
    cursor: pointer;
    transition: .3s;
}

.room-image:hover
{
    transform: scale(1.1);
}
.room-details
{
   
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}
.room5,.room6
{
    height:210px;
}

/* subscribe css */

.subscribe
{
    width:100%;
    padding: 50px 15%;
    /* background-color: red; */
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    

}
.sub-text
{
    width:30%;
    padding:20px;
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.logo2
{
    width:50%;
    /* background-color: yellow; */
}
.sub-des
{
    font-family: 'poppins';
    font-size: 15px;

}
.sub-area
{
    width:35%;
    padding:20px;
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'poppins';
    row-gap: 20px;
}
.sub-form
{
    display: flex;
}
.sub-inp
{
    width:75%;
    height:60px;
}
/* food section css */
.food
{
    width:100%;
    height:90vh;
    padding: 50px 15%;
    background-color: white;
    background-image: url('./images/restaurant.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.food-detail
{
    width:65%;
    padding:50px;
    /* background-color: blue; */
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}
.section-title
{
    font-family: 'poppins';
    font-size:35px;
}

/* premium css */

.premium
{
    width:100%;
    padding: 50px 15%;
    font-family: 'poppins';
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prooms-area
{
    margin-top: 50px;
    width:100%;
    /* background-color: green; */
    height: 1000px;
    justify-content: space-between;
    display: flex;
}
.proom-img
{
    width:40%;
    height:1000px;
    /* background-color: yellow; */
    overflow: hidden;
}
.proom-boxes
{
    width:65%;
    height:1000px;
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.proom-img
{
    width:30%;

}
.proom-box
{
    width:100%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

/* gallery css */

.gallery
{
    width:100%;
    padding: 50px 15%;
    background-color: black;
}
.gall-img
{
    width:32%;
    cursor: pointer;
    transition: .3s;
    opacity: .5;
}

.gall-img:hover
{
    opacity: 1;
    
}

/* footer css */

.footer-section
{
    width:100%;
    padding: 50px 15%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 10px;
    justify-content: center;
    align-items:center;
    font-family: 'poppins';
}
.about-det
{
    background-color: #f9f9f9;
   
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding:20px 15px;
    width:100%;
    height:200px;
   

}
.footer-link
{
    width:80%;
}
.footer-links
{
    /* width:max-content */
    list-style-type: none;
    cursor: pointer;
    transition: .3s;
}
